<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('build/js/app.css') }}" rel="stylesheet">
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">        
        {% endblock %}

    </head>
    <body>
        <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.js"></script>
        
        {% endblock %}
    </body>
</html>
