{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h1>User List</h1>

    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th>User ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="row">
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthday ? user.birthday|date('d/M/Y') : '' }}</td>
                <td>                    
                    <a class="btn btn-primary btn-xs" href="{{ path('contract_new', {'id': user.id}) }}">Add contract</a>
                    <a class="btn btn-info btn-xs" href="{{ path('contract_index', {'id': user.id}) }}">View contracts</a>
                    <a class="btn btn-info btn-xs" href="{{ path('user_show', {'id': user.id}) }}">View</a>
                    <a class="btn btn-primary btn-xs" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default btn-xs pull-left" href="{{ path('user_new') }}">Create new</a>
{% endblock %}